<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-6">
            <h2 class="heading-secondary">
                Exciting tours for adventrous people
            </h2>
        </div>
        
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-2">You are going to fall in love with nature</h3>
                <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore est atque  laudantium minus, quae accusamus dolore in voluptatibus nesciunt aliquid quis doloremque facere.</p>
                
                <h3 class="heading-tertiary u-margin-bottom-2">Live adventrous like you never have before</h3>
                <p class="paragraph">Lorem ipsum dolor. Tempore est atque  reprehenderit consectetur laudantium minus, quae accusamus  aliquid quis.</p>
                <a href="#" class="btn-text">Learn more &rarr;</a>
            
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="./../../assets/img/nat-1-large.jpg" alt="Photo1" class="composition__photo composition__photo--p1">
                    <img src="./../../assets/img/nat-2-large.jpg" alt="Photo2"class="composition__photo composition__photo--p2">
                    <img src="./../../assets/img/nat-3-large.jpg" alt="Photo3" class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
        
    </section>
    <section class="features-section">
        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="u-margin-bottom-2 feature-box__icon icon-basic-world"></i>
                    <h3 class=" u-margin-bottom-2 heading-tertiary">Explore the world</h3>
                    <p class="feature-box__text">
                        explore the world with your loved ones and live the moment.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="u-margin-bottom-2 feature-box__icon icon-basic-compass"></i>
                    <h3 class=" u-margin-bottom-2 heading-tertiary">Meet Nature</h3>
                    <p class="feature-box__text">
                        explore the world with your loved ones and live the moment.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="u-margin-bottom-2 feature-box__icon icon-basic-map"></i>
                    <h3 class=" u-margin-bottom-2 heading-tertiary">Find your way</h3>
                    <p class="feature-box__text">
                        explore the world with your loved ones and live the moment.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="u-margin-bottom-2 feature-box__icon icon-basic-heart"></i>
                    <h3 class=" u-margin-bottom-2 heading-tertiary">Live Healthy Life</h3>
                    <p class="feature-box__text">
                        explore the world with your loved ones and live the moment.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-tours">
        <div class="u-center-text u-margin-bottom-6">
            <h2 class="heading-secondary">
                Most popular tours
            </h2>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class=" card__side card__side--front card__side--front-1">
                        Front
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        Back
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class=" card__side card__side--front card__side--front-2">
                        Front
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        Back
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class=" card__side card__side--front card__side--front-3">
                        Front
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        Back
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>