/* You can add global styles to this file, and also import other style files */


*{
    //define what 1 rem is
    font-size: 62.5%;

    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color:#777;
    padding: 3rem;
    font-family: "Lato",sans-serif;
    font-weight: 400;    
}